

/* touch control styles  */

body {
  /*overscroll-behavior: contain;*/
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow: hidden;
  touch-action: none;
}

.touch-control {
}

.touch-control .circle-button {
  width: 60px;
  height: 60px;
  /*background-color: hsla(350, 100%, 90%, 0.6);*/
  border: 1px solid hsla(350, 100%, 80%, 0.5);
  border-radius: 50%;
  position: fixed;
}

.touch-control .circle-button.left-a {
  bottom: 190px;
  left: 200px;
}
.touch-control .circle-button.left-b {
  bottom: 160px;
  left: 100px;
}

.touch-control .circle-button.right-a {
  bottom: 190px;
  right: 200px;
}
.touch-control .circle-button.right-b {
  bottom: 160px;
  right: 100px;
}


.touch-control .hand-button {
  position: fixed;
  height: 100%;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*background-color: hsla(0, 100%, 100%, 0.6);*/
  border: 1px solid hsla(0, 100%, 80%, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}
.touch-control .hand-center {
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  border: 1px solid hsla(0, 100%, 80%, 0.5);
  pointer-events: none;
}
.touch-control .left-hand {
  left: 110px;
  bottom: 260px;
}
.touch-control .right-hand {
  right: 110px;
  bottom: 260px;
}
